* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #873B2B;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.book {
  position: relative;
  height: 400px;
  width: 270px;
  perspective: 1000px;
  transform-style: preserve-3d;
}



/* Cover */

.cover {
  position: absolute;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;

  background: linear-gradient(to right, #1B8AF5 0 15px, rgb(4,108,211) 15px, 
    rgb(33, 148, 255) 30px, #1B8AF5 30px);
  z-index: 10;
  transform-origin: left center;
  /* transform: rotateY(0deg); */
  transform: rotateY(-34deg);
  /* display: none; */
}

.book:hover .cover {
  transform: rotateY(-180deg) translateZ(10px);
}

.cover::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  right: 0;
  transform-origin: right;
  transform: rotateY(45deg) translate(100%);
  background-color: rgba(0,105,205);
  /* background: linear-gradient(to right, rgb(35,154,247) 0 50%, rgba(0,105,205) 50% 100%); */
}




/* Pages */

.pages {
  position: absolute;
  top: 1%;
  height: 98%;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-10px);
  z-index: 1;
  /* display: none; */
}

.pages > li {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.4), 
    inset -1px 0px 1px rgba(150, 150, 150, 0.8);
  transform-origin: left center;
  transform: rotateY(0deg);
}


.pages li:nth-child(1) {
  transform: rotateY(-28deg);
}

.pages li:nth-child(2) {
  transform: rotateY(-26deg);
}

.pages li:nth-child(3) {
  transform: rotateY(-24deg);
}

.pages li:nth-child(4) {
  transform: rotateY(-22deg);
}

.pages li:nth-child(5) {
  transform: rotateY(-20deg);
}

.pages li:nth-child(6) {
  transform: rotateY(-18deg);
}

.pages li:nth-child(7) {
  transform: rotateY(-16deg);
}

.pages li:nth-child(8) {
  transform: rotateY(-14deg);
}

.book:hover .pages li:nth-child(1) {
  transform: rotateY(-172deg) translate(-10px);
}

.book:hover .pages li:nth-child(2) {
  transform: rotateY(-170deg) translate(-16px);
}

.book:hover .pages li:nth-child(3) {
  transform: rotateY(-168deg) translate(-24px);
}

.book:hover .pages li:nth-child(4) {
  transform: rotateY(-166deg) translate(-30px);
}

.book:hover .pages li:nth-child(5) {
  transform: rotateY(-18deg);
}

.book:hover .pages li:nth-child(6) {
  transform: rotateY(-16deg);
}

.book:hover .pages li:nth-child(7) {
  transform: rotateY(-14deg);
}

.book:hover .pages li:nth-child(8) {
  transform: rotateY(-12deg);
}




/* Back cover */

.back-cover {
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-14px);
  z-index: 2;
  height: 100%;
  width: 100%;

  /* background-color: #1B8AF5; */
  background: linear-gradient(to right, #1B8AF5 0 15px,  rgba(4,108,211,0.7) 15px,rgb(33, 148, 255) 30px, #1B8AF5 30px);
  perspective: 1000px;
  transform-origin: left center;
  /* display: none; */
}

.back-cover::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: #1B8AF5;
  left: 0;
  transform-origin: left;
  transform: rotateY(90deg) translate(-100%);
}

.back-cover::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  right: 0;
  transform-origin: right;
  transform: rotateY(45deg) translate(100%);
  background-color: rgba(0,105,205);
  /* background: linear-gradient(to right, rgb(35,154,247) 0 50%, rgba(0,105,205) 50% 100%); */
}

.book:hover .back-cover::before {
  transform: rotateY(-180deg);
  transition-duration: .2s;
}

.book:hover .back-cover {
  transform: rotateY(0deg) translateZ(-10px);
}

.cover,
.pages,
.back-cover,
.pages>li,
.book:hover .pages li,
.book:hover .back-cover,
.book:hover .cover,
.back-cover::before {
  transition-duration: 2s;
}